In [1]:
import pandas as pd
import sqlalchemy as sqlal

In [2]:
sanjose = pd.read_csv('monthly_home_prices.csv')

In [3]:
sanjose.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
Date                  210 non-null object
Single Family Home    210 non-null object
Condo/Townhome        210 non-null object
dtypes: object(3)
memory usage: 5.0+ KB

In [4]:
engine = sqlal.create_engine("mysql://root:123456@54.244.202.224/housing")
con = engine.connect()
sanjose.to_sql(name='sanjose',con=con,if_exists='replace')
con.close()